@import "../../assets/styles/mixins.scss";

.list {
  @include container;
  @include main-bg;
  padding: 0;
  padding-bottom: 20px;
  width: 320px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 3px 10px;
  border-bottom: 1px solid rgb(43, 42, 42);
}

.title {
  color: #212121;
  cursor: pointer;
  width: 100%;
}

.btn {
  padding: 5px;
  background: none;
  border: none;
  transform: rotate(-90deg);
  line-height: 0;
}

.icon {
  width: 15px;
  height: 15px;
}

.form {
  @include container;
  @include main-bg;
}
